.socials {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-bottom: 10px;
    font-size: 2em;
  }

  .socials a {
    padding: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: transform 0.2s;
  }
  
  .socials a:hover {
    transform: scale(1.2); 
    cursor: pointer;
  }

  .copyright {
    font-size: 0.75em;
  }
  