@font-face {
    font-family: 'nunito';
    src: url('../assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


* {
    box-sizing: border-box; 
    font-family: nunito, sans-serif;
  }

 body {
    margin: 0; 
    padding: 0; 
}